services:
  db:
    image: postgres:16
    container_name: horbath_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: horbath_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
